body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

a {
    text-decoration: none;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
button {
    cursor: pointer;
}

                /*common*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
   }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

             /*region Header*/

.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.addr {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block ;
}

.logo-style {
    color: #2e2f42 ;
}

.burger-btn {
    padding: 0 ;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block ;
    fill: #2f2f37 ;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-page {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-item-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item-link.current {
    position: relative;
  }

  .nav-item-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .nav-item-link:hover,
  .nav-item-link:focus,
  .nav-item-link.current {
    color: #404bbf;
  }

  .addr {
    font-style: normal;
    display: block;
  }

  .addr-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .addr-item-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .addr-item-link:hover,
  .addr-item-link:focus {
    color: #404bbf;
  }
}
  
@media screen and (min-width: 1158px) {
  .header-logo {
       margin-right: 76px;
  }
  .addr-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .addr-item-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

 /* #endregion */

 /* mobile menu*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: #2e2f42;
    width: 24px;
    height: 24px;
}

.exit-icon-menu {
    fill: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-button-close:hover, 
.mobile-button-close:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-button-close:hover .exit-icon-menu,
.mobile-button-close:focus .exit-icon-menu {
    fill: #fff;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-nav-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-item-link:hover,
.mobile-nav-item-link:focus {
    color: #404bbf;
}

.mobile-addr-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.mobile-addr {
    margin-bottom: 48px;
}

.mobile-addr-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-addr-item-link:hover,
.mobile-addr-item-link:focus {
    color: #4d5ae5;
}

.menu-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    height: 40px;
}

.menu-social-item-link {
    width: 40px;
    height: 40px;
}

.svg-menu {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-menu:focus,
.svg-menu:hover {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-menu {
    justify-content: center;
    fill: #f4f4fd;
}
 @media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
 }
   
 /* #region Hero*/

.hero {
    padding: 72px 0;
    background-color: #2e2f42;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

section.hero {
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {
    align-items: center;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
} 

@media screen and (min-width:768px) and (min-resolution: 192dpi) {
  .hero {
     padding: 112px 0;
     max-width: 768px;
   }

  section.hero {
    background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-tablet.jpg)
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
   }
}

@media screen and (min-width:1158px) /*and (min-resolutuion: 192dpi)*/ {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
    }

  section.hero {
    background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                 url(../images/post-office.jpg);
  }

  .hero-title {
     margin-bottom: 48px;
    }

}
/* #endregion */

/* #region Benefits*/

.section {
    padding: 96px 0;
}

.benef-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 72px;
    background-color: #FFFFFF;
}

.benef-list-item {
    width: 100%;
}

.tit {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icons-benefits {
    display: none;
}

@media screen and (min-width:768px) {
  .section {
    padding: 96px 0;
  }

  .benef-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
    }

  .benef-list-item {
    width: calc((100% - 48px) / 2);
   }
   .tit {
    display: inline-block;
   }
}

@media screen and (min-width:1158px) {
  .section {
    padding: 120px 0;
    }

  .benef-list {
    gap: 24px;
    }

  .benef-list-item {
    width: calc((100% - 3 * 24px) / 4);
    }

  .tit {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     }

  .text {
    font-weight: 400;
   }

  .benefits-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    background-color: #f4f4fd;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    }

.icons-benefits {
    display: flex;
    justify-content: center;
    }
}


      /* Our Team */

.section-team {
    padding: 96px 0;
    background-color: #F4F4FD;
}

.team-container {
    align-items: center;
    margin: 0 auto;
    /*padding-left: 28px;
    padding-right: 28px;*/
}

.section-title {
    margin-bottom: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.tit-team {
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-item {
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    margin: 32px 0;
    height: 40px;
}

.icons-link {
    width: 40px;
    height: 40px;
}

.icons-link:focus,
.icons-link:hover {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg:focus,
.svg:hover {
    background-color: #404bbf;
}

.icons-team {
    justify-content: center;
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
    }

  .team-container {
    align-items: center;
    /*margin: 0 auto;*/
    /*padding-left: 108px;
    padding-right: 108px;*/
   }
   
}

@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
   }

  .team-container {
    align-items: center;
    }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
    }
}

/*  Section-Portfolio */

 .section-portfolio {
     padding: 96px 0;
 }

 /*.portfolio-container {
    padding: 16px 0;
 }*/

 .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

 .portfolio-list-item {
     width: 100%;
     position: relative;
     background-color: #fff;
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
 .portfolio-list-item:hover,
 .portfolio-list-item:focus {
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .image-portfolio {
     position: relative;
     display: block;
     overflow: hidden;
 }
 .overlay-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
     background-color: #4d5ae5;
     padding: 40px 32px;
     border-bottom: 1px solid #e7e9fc;
     border-left: 1px solid #e7e9fc;
     border-right: 1px solid #e7e9fc;
     position: absolute;
     bottom: 0;
     left: 0;
     transform: translateY(100%);
     z-index: 1;
     width: 100%;
     height: 100%;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-list-item:hover .overlay-text {
     transform: translateY(0%);
 }
 .container-item-portfolio {
     padding: 32px 16px;
     border: 1px solid #e7e9fc;
     border-top: none;
 }

 .tit-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
 }
@media screen and (min-width: 768px) {

.portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
    }
  .portfolio-list-item {
     width: calc((100% - 4 * 24px) / 2);
   }
}
@media screen and (min-width: 1158px) {
  .section-portfolio {
     padding: 120px 0;
    }

  .portfolio-list {
     column-gap: 24px;
     row-gap: 48px;
   }
  .portfolio-list-item {
     width: calc((100% - 2 * 24px) / 3);
   }
}

              /*Footer */

.footer-page {
    padding: 96px 0;
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}

/*.container.footers-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    /*align-items: baseline;
}*/
.footers-container {
    align-items: baseline;
}

.footer-container {
    /*text-align: center;*/
}

footer .logo {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
}

footer .logo-style {
    color: #f4f4fd;
    text-align: center;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #f4f4fd;
    width: 288px;
    margin-bottom: 72px;
}

.social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 72px;
}
.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
}

.footer-list {
    gap: 16px;
    display: flex;
}

.footer-item-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    display: flex;
}

.svg-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-footer:hover,
.svg-footer:focus {
    background-color: #31d0aa;
}

.icons-footer {
    fill: #f4f4fd;
}

.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.form-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.6;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
}

.subscribe-button {
    border-radius: 4px;
    background: #4d5ae5;
    border: none;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-page {
     max-width: 768px;
     padding-top: 96px;
     padding-bottom: 96px;
     padding-left: 108px;
    }
    
  .footers-container {
     display: flex;
     flex-wrap: wrap;
     row-gap: 72px;
     margin-bottom: 16px;
     width: 584px;
     }

  .footer-container {
    margin-right: 24px;
  }

  footer .logo {
     text-align: left;
    display: block;
    }

  .footer-text {
     max-width: 264px;
     
    }

  .social-container {
    display: flex;
    flex-direction: column;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }
  .form {
     display: flex;
     gap: 24px;
    }

  .form-input {
     width: 264px;
    }
     
 .subscribe-button
}

@media screen and (min-width: 1158px) {
  .footer-page {
     padding: 100px 0;
     max-width: 1440px;
  }

  .footers-container {
    display: flex;
    align-items: baseline;
}

  .footer-container {
     margin-right: 120px;
  }

  .social-container {
      margin-right: 80px;
  }

  .form-container {
     margin-left: 80px;
  }
}
                /* Backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.exit-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    margin-left: 240px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.exit-icon {
    fill: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-button:hover,
.exit-button:focus {
    background-color: #404bbf;
    border: none;
}

.exit-button:hover .exit-icon,
.exit-button:focus .exit-icon {
    fill: #fff;
}

.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /*margin-top: 48px;*/
    margin-bottom: 16px;
}

.form-wrapper-cont {
    margin-bottom: 8px;
}

.form-wrapper-com {
    margin-bottom: 16px;
}

.form-user-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-user-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-input:focus {
    border: 1px solid #4d5ae5;
}

.form-user-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-input:focus+.form-user-icon {
    fill: #4d5ae5;
}

.form-user-icon-wrapper {
    position: relative;
}

.form-user-comment {
    width: 100%;
    min-height: 120px;
    resize: none;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    opacity: 0.5;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-comment:focus {
    border: 1px solid #4d5ae5;
}

.form-wrapper-checkbox {
    margin-bottom: 24px;
}

.castom-checkbox {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.form-user-checkbox>.castom-checkbox {
    border: none;
    background-color: #404bbf;
    fill: #f4f4fd;
}

.form-user-checkbox {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-user-checkbox a {
    text-decoration: underline;
}

.iris {
    color: #4d5ae5;
}

.form-btn-submit {
    border-radius: 4px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .exit-button {
    margin-left: 360px;
  }
} 
    
